---
layout: page
---

<header class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand brand" href="#">
      <img src="logo.svg" alt="Логотип">
      <p class="brand__name">Театр-студия<br>mART</p>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Открыть меню">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Disabled</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="main">

  <header class="container header header__self">
    <div class="header__heading">
      <h1 class="h2">Детская театральная студия «mART»</h1>
      <p class="header__tagline">на метро Медведково и ВДНХ</p>
    </div>
    <img class="header__img" src="header__img.jpg" alt="Ученики студии «Март»">
    <div class="header__bottom">
      <p class="header__perk">800 рублей за занятие,<br>а пробный урок — бесплатно</p>
      <a class="button header__button" href="#">Записаться</a>
    </div>
  </header>
  
  <div class="container welcome">
    <img class="welcome__img" src="AnastasiyaKrukova.jpg" alt="">
    <hr class="delimiter welcome__delimiter">
    <p class="welcome__body">
      Меня зовут Анастасия Крюкова, я актриса и режиссёр.
      Преподаю актёрское мастерство детям уже 8 лет, а в 2017 году открыла свою небольшую студию.
    </p>
  </div>
  
  <section class="container">
    <h2 class="h1">Две самые главные<br>вещи у нас:</h2>
    <div class="things things__self">

      {% include things__item.html
        img="things__learning.jpg"
        heading="1. Учёба"
        body="Изучаем актёрское мастерство, готовим спектакли, играем их на фестивалях, ездим на гастроли."
      %}

      {% include things__item.html
        img="things__friendship.jpg"
        heading="2. Дружба"
        body="В свободное время устраиваем посиделки с пиццей и мафией, едим торт на день рождения студии, ходим в театры.
        Детям важно общаться не только во время занятий, тем более что здесь нас связывает общее увлечение."
      %}
      
    </div>
  </section>

  <section class="container">
    <h2 class="h1">Чем мы<br>занимаемся</h2>
    <div class="cards cards__self">

      {% include cards__item.html
        img="occupation-1.jpg"
        heading="Участвуем в конкурсах"
        body="В 2023 году наши ученики успели выиграть на театральных конкурсах «Трубадур», «Арт-взлет», «Яркие МЫ», «Звучащая лира», «Театральная смена»."
      %}

      {% include cards__item.html
        img="occupation-2.jpg"
        heading="Проводим открытые уроки и отчётные концерты"
        body="Практика на зрителе очень важна: именно так недели репетиций превращаются в настоящие навыки."
      %}

      {% include cards__item.html
        img="occupation-3.jpg"
        heading="Ездим на гастроли и фестивали"
        body="Уже побывали в Смоленске, Сочи, выступали на сцене театра Рюминой, театра Российской армии и множестве сцен поменьше."
      %}

      {% include cards__item.html
        img="occupation-4.jpg"
        heading="И просто получаем удовольствие"
        body="Например, на фестивале «Белая дверь» в Сочи, купались в бассейне в ноябре-месяце, объедались на шведском столе, ну и конечно же играли спектакли в Зимнем театре."
      %}

    </div>
  </section>

  <section class="container">
    <h2 class="h1">Наши<br>педагоги</h2>
    <div class="cards cards_teacher cards__self-teacher">

      {% include cards__item_teacher.html
        img="AnastasiyaKrukova.jpg"
        img-shape="round"
        heading="Анастасия Крюкова"
        body="Здесь можно описать, почему ты крутая и тебе можно доверять своих детей: образование, опыт, регалии, наличие фотки с Безруковым (шутка. Не надо про фотку с Безруковым)."
      %}

      {% include cards__item_teacher.html
        img="AnastasiyaKrukova.jpg"
        img-shape="round"
        heading="Анастасия Крюкова"
        body="Здесь можно описать, почему ты крутая и тебе можно доверять своих детей: образование, опыт, регалии, наличие фотки с Безруковым (шутка. Не надо про фотку с Безруковым)."
      %}

      {% include cards__item_teacher.html
        img="AnastasiyaKrukova.jpg"
        img-shape="round"
        heading="Анастасия Крюкова"
        body="Здесь можно описать, почему ты крутая и тебе можно доверять своих детей: образование, опыт, регалии, наличие фотки с Безруковым (шутка. Не надо про фотку с Безруковым)."
      %}

    </div>
  </section>

  <section class="container">
    <h2 class="h1">Вопросы<br>и ответы</h2>
    <div class="accordion accordion__self">

      {% include accordion-item.html
        heading="Сколько человек в группе?"
        body="Не более 10, чтобы в течение урока уделить внимание каждому"
      %}

      {% include accordion-item.html
        heading="Сколько длится урок?"
        body="123"
      %}

      {% include accordion-item.html
        heading="Для какого это возраста?"
        body="Не более 10, чтобы в течение урока уделить внимание каждому"
      %}

      {% include accordion-item.html
        heading="А если мы присоединились не сначала?"
        body="123"
      %}
    
      {% include accordion-item.html
        heading="Можно ли родителям присутствовать на занятии?"
        body="Не более 10, чтобы в течение урока уделить внимание каждому"
      %}

      {% include accordion-item.html
        heading="Нужна ли форма?"
        body="123"
      %}
    
      {% include accordion-item.html
        heading="Будут ли дополнительные траты?"
        body="Не более 10, чтобы в течение урока уделить внимание каждому"
      %}

    </div>
  </section>

</main>