---
---

@import 'bootstrap-custom';
@import 'typography';

:root {
  --orange: #da681b;
  --white: #fff;
  --blue: #000af9;
  --light-blue: #2b32d6;
  --black: #000;

  --border-radius: 1rem;
}

.html {
  // Опорное значение для всех размеров
  font-size: 16px;
  @include media-breakpoint-only(lg) { font-size: 12px; }
  @include media-breakpoint-only(xl) { font-size: 14px; }
  @include media-breakpoint-only(xxxl) { font-size: 20px; }

}

.body {
  background-color: var(--orange);
  margin: 0;
}

.margin-reset {
  margin: 0;
}

.button {
	@extend .h3, .link-reset;
  display: block;
  text-align: center;
  background-color: var(--light-blue);
  padding: 1rem;
  border-radius: 9999px;
}

.delimiter {
  border: .1rem solid white;
  margin: 0;
  width: 100%;
  max-width: 27rem;
  opacity: 1;
}

@import "header";
@import "nav";
@import "welcome";
@import "main";
@import "things";
@import "drag-to-scroll";
@import "gallery";
@import "reviews";
@import "cards";
@import "prices";
@import "accordion";
@import "gum";
@import "facts";
@import "facts-2";
@import "apply";
@import "top-arrow";
@import "footer";