<div class="gum">
  <div class="container apply">
    <div class="apply__wrapper">
      <p class="apply__p" style="margin-bottom: .3rem">
        Чтобы записаться на занятия или задать вопросы, напишите
      </p>
      <p class="h3 apply__link" style="margin-bottom: 1rem">
        <a class="apply__link" href="https://wa.me/+79778006989">в Вотсап</a>,
        <a class="apply__link" href="https://t.me/KryNast">в Телеграм</a>
      </p>
      <p class="apply__p" style="margin-bottom: .3rem">или позвоните по телефону</p>
      <p class="h3 apply__link">+7 (977) 800-69-89</p>
    </div>
  </div>
</div>