.facts {
  display: flex;
  flex-direction: column;
  gap: 3.5rem 7rem;
}

.facts__item {
	display: grid;
  gap: 1rem 1.75rem;
  max-width: 40rem;

  @include media-breakpoint-up(lg) {
    max-width: unset;
    grid-template-columns: 1fr 1fr;
  }
}

.facts__heading {
	color: var(--orange);
}