.footer {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  text-align: center;
}

.footer__self {
  margin-top: 4rem;
}

.footer__p {
  margin: 0;
}

.footer__link {
  color: var(--orange);
}