.header {
  display: grid;
  color: var(--white);
}

.header__self {
  margin-top: 2rem;
}

.header__heading {
  text-align: center;
}

.header__tagline {
	line-height: var(--small-line-height);
}

.header__img {
	width: 100%;
  border-radius: 1rem;
}

.header__bottom {
	margin-top: 5rem;
}

.header__perk {
	line-height: var(--small-line-height);
  text-align: center;
}

.header__button {
	
}

