.welcome {
	display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.welcome__img {
	border-radius: 9999px;
  width: 12rem;
}

.welcome__delimiter {
  display: none;
}

.welcome__text {
	text-align: center;
}

